@model IEnumerable<proyectosoft1._4.Models.Ubicacion>

@{
    ViewData["Title"] = "Ubicacion";
}

<h1 class="mb-4">Ubicacion</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-info">Crear nueva ubicacion</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Ubicacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UbUbicacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UbId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UbId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.UbId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
