@model proyectosoft1._4.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProId" class="control-label"></label>
                <input asp-for="ProId" class="form-control" />
                <span asp-validation-for="ProId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProNombre" class="control-label"></label>
                <input asp-for="ProNombre" class="form-control" />
                <span asp-validation-for="ProNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProPrecio" class="control-label"></label>
                <input asp-for="ProPrecio" class="form-control" />
                <span asp-validation-for="ProPrecio" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProDisponible" /> @Html.DisplayNameFor(model => model.ProDisponible)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProDescripcion" class="control-label"></label>
                <input asp-for="ProDescripcion" class="form-control" />
                <span asp-validation-for="ProDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
